.imgsize {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.walkpositioning {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 10px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.nava {
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  left: 40%;
  padding: 10px;
}
@media (max-width: 500px) {
  .nava {
    left: 25%;
  }
}
.nava nav {
  position: relative;
  right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .nava nav {
    right: 19%;
  }
}
.nava ul a {
  padding-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}
@media (max-width: 500px) {
  .nava ul a {
    font-size: 15px;
    font-weight: bold;
  }
}
.main {
  width: 40%;
  position: relative;
  right: 13%;
}
@media (max-width: 500px) {
  .main {
    width: 100%;
    right: 25%;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
@media (max-width: 500px) {
  .one {
    width: 450px;
    right: 10px;
  }
}
@media (max-width: 500px) {
  .two {
    display: none;
  }
}
@media (max-width: 500px) {
  .three {
    display: none;
  }
}
.space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  top: 20px;
}
@media (max-width: 500px) {
  .space-images {
    flex-direction: column-reverse;
    width: 1400px;
  }
}
img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.visit-planets {
  padding: 15px;
}
.visit-planets h3 {
  margin-top: 11px;
}
.visit-planets p {
  margin-top: 13px;
}
h3 {
  padding-top: 110px;
}
.walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 10px;
}
@media (max-width: 500px) {
  .walk {
    flex-direction: column-reverse;
    width: 900px;
    position: relative;
    right: 10px;
    padding: 0px;
  }
}
.walk .walk-text {
  width: 50%;
  position: relative;
  bottom: 105px;
}
@media (max-width: 500px) {
  .walk .walk-text {
    position: relative;
    left: 40px;
  }
}
.walk .walk-text h3 {
  margin-bottom: 10px;
}
.walk .walk-text p {
  margin-bottom: 26px;
}
.walk .walk-text .button {
  width: 120px;
  padding: 10px;
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
}
@media (max-width: 500px) {
  .walk .walk-text .button {
    padding: 30px;
    width: 400px;
    text-align: center;
    position: relative;
    top: 40px;
    left: 10px;
  }
}
.walk .walk-text .button:hover {
  color: black;
  background-color: white;
}
.walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
